<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    Group<br>
    <%= f.fields_for :group_users do |gu| %>
      <%= gu.select :id, @group.all.map{|g| [g.group_name,g.id]} %>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
