<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @user.user_id %>
  <%= @user.user_name %>
  <%= @user.user_mail %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
