<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @group.users_id %>
</p>
<p>
  <strong>Groups:</strong>
  <%= @group.groups_id %>
</p>
<p>
  <strong>GroupName:</strong>
  <%= @group.groups_name %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
