<h2>ログイン</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), 
	     :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
  <div class="field">
    <%= f.input :email, label: "Ｅメール" %>
  </div>

  <div class="field">
	  <%= f.input :password, label: "パスワード", input_html: { autocomplete: 'off'} %>  
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.input :remember_me, as: :boolean, inline_label: "パスワードを記憶する" %>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "ログイン", :class => 'btn btn-primary' %>
  </div>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>
